extends ../layout

block content
    h1.
         #{title}
    ul
        - each level, i in levels
            li
                ul

                    li
                        = level.activity
                    li
                        = level.level
                    li
                        = moment(level.occurrence).utc().format('MM/DD/YYYY h:mm A')
                    li
                        = level.category
                    li 
                        = level._id
                form(action='/levels/#{level._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/levels/#{level._id}/edit') Edit
                p
                    a(href='/levels/#{level._id}') Show
