extends ../layout

block content
    h1.
        #{title}
    form#formAddBlob(name="addlevel",method="post",action="/levels")
        p Activity: 
            input#inputActivity.form-control(type="text", placeholder="ex. Admissions Page", name="activity")
        p Category: 
            select#inputCategory.form-control(type="select", placeholder="ex. Coding", name="category")
                option('coding') Coding (non-html)
                option('styling') Markup/Styling
                option('tickets') Tickets
                option('email') Email
                option('meeting') Meetings
        p Level:
            input#inputLevel.form-control(type="number", placeholder="1-10", name="level")
        p Occurrence: 
            input#inputOccurrence.form-control(type="datetime-local", name="occurrence" value="#{current}")
        p
            button#btnSubmit(type="submit") submit
