extends ../layout

block content
    h1.
        #{title}
    form#formAddBlob(name="addlevel",method="post",action="/levels")
        p Activity: 
            input#inputActivity(type="text", placeholder="ex. Admissions Page", name="activity")
        p Category: 
            input#inputCategory(type="text", placeholder="ex. Coding", name="category")
        p Level:
            input#inputLevel(type="number", placeholder="1-10", name="level")
        p Occurrence: 
            input#inputOccurrence(type="datetime-local", name="occurrence" value="#{current}")
        p
            button#btnSubmit(type="submit") submit
